.noticiaCard{
  background-color: aliceblue;
  border: 2px solid black;
  border-radius: 10px;
  padding: 2vh;
  margin-bottom: 1vh;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 2vh;
  border: 3px solid black;
  background-color: antiquewhite;
  padding: 2vh;
}
