body{
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}

.header{
    background-color: rgb(169, 211, 211);
    width: 100%;
    height: 150px;
    
}
.librocard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    padding: 2vh;
    border-radius: 10px;
}